// var start
$color-white: #ffffff !default;
$color-black: #000000 !default;

$color-white-default: $color-white !default;

$color-black-default: #333333 !default;
$color-black-100: mix($color-white, $color-black-default, 92%) !default;
$color-black-200: mix($color-white, $color-black-default, 72%) !default;
$color-black-300: mix($color-white, $color-black-default, 48%) !default;
$color-black-400: mix($color-white, $color-black-default, 16%) !default;
$color-black-500: $color-black-default !default;
$color-black-600: mix($color-black, $color-black-default, 20%) !default;
$color-black-700: mix($color-black, $color-black-default, 36%) !default;
$color-black-800: mix($color-black, $color-black-default, 60%) !default;
$color-black-900: mix($color-black, $color-black-default, 100%) !default;

$color-yellow-default: #ffdd00 !default;
$color-yellow-100: mix($color-white, $color-yellow-default, 88%) !default;
$color-yellow-200: mix($color-white, $color-yellow-default, 72%) !default;
$color-yellow-300: mix($color-white, $color-yellow-default, 56%) !default;
$color-yellow-400: mix($color-white, $color-yellow-default, 32%) !default;
$color-yellow-500: $color-yellow-default !default;
$color-yellow-600: mix($color-black, $color-yellow-default, 12%) !default;
$color-yellow-700: mix($color-black, $color-yellow-default, 24%) !default;
$color-yellow-800: mix($color-black, $color-yellow-default, 40%) !default;
$color-yellow-900: mix($color-black, $color-yellow-default, 54%) !default;

$color-red-default: #ff3a2e !default;
$color-red-100: mix($color-white, $color-red-default, 88%) !default;
$color-red-200: mix($color-white, $color-red-default, 72%) !default;
$color-red-300: mix($color-white, $color-red-default, 56%) !default;
$color-red-400: mix($color-white, $color-red-default, 32%) !default;
$color-red-500: $color-red-default !default;
$color-red-600: mix($color-black, $color-red-default, 12%) !default;
$color-red-700: mix($color-black, $color-red-default, 24%) !default;
$color-red-800: mix($color-black, $color-red-default, 36%) !default;
$color-red-900: mix($color-black, $color-red-default, 56%) !default;

$color-green-default: #26bc35 !default;
$color-green-100: mix($color-white, $color-green-default, 88%) !default;
$color-green-200: mix($color-white, $color-green-default, 72%) !default;
$color-green-300: mix($color-white, $color-green-default, 52%) !default;
$color-green-400: mix($color-white, $color-green-default, 32%) !default;
$color-green-500: $color-green-default !default;
$color-green-600: mix($color-black, $color-green-default, 8%) !default;
$color-green-700: mix($color-black, $color-green-default, 24%) !default;
$color-green-800: mix($color-black, $color-green-default, 36%) !default;
$color-green-900: mix($color-black, $color-green-default, 52%) !default;
// var end