@mixin transition-default() {
  transition: all 0.2s;
}

@mixin transition-drop-in() {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
    opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center top;
}

@mixin transition-drop-out() {
  opacity: 0;
  transform: scaleY(0);
}

@mixin transition-animation-in($type) {
  animation: dp-animation-#{$type} 0.2s ease;
}

@mixin transition-animation-out($type) {
  animation: dp-animation-#{$type} 0.2s reverse ease;
}
