.dp-tooltip {
	display: inline-block;
	position: relative;
	font-family: Plus Jakarta Sans;


	&:hover {
		.dp-tooltiptext {
			visibility: visible;
			opacity: 1;
			background-color: $color-black-400;
			color: $color-white-default;
		}
	}

	.dp-tooltiptext {
		/* 隐藏该元素 */
		visibility: hidden;
		text-align: center;
		border-radius: 6px;
		padding: 10px 0;
		position: absolute;
		z-index: 1;
		/* 超过了100%就是反向距离 */
		bottom: 125%;
		left: 50%;
		transform: translate(-50%, 0);
		opacity: 0;
		/* 延迟一秒再变为清晰度是1 */
		transition: all 1s;

		/* 设置提示框的after属性，并添加一个尖角 */
		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: $color-black-400 transparent transparent transparent;
		}

		&:hover {
			visibility: visible;
			opacity: 1;
		}
	}
}