.dp-tooltip {
	display: inline-block;
	position: relative;
	font-family: Plus Jakarta Sans;


	&:hover {
		.dp-tooltiptext {
			visibility: visible;
			opacity: 1;
			background-color: $color-black-400;
			color: $color-white-default;
		}
	}

	.dp-tooltiptext {
		/* 隐藏该元素 */
		visibility: hidden;
		text-align: center;
		border-radius: 6px;
		padding: 10px 0;
		position: absolute;
		z-index: 1;
		/* 超过了100%就是反向距离 */
		opacity: 0;
		/* 延迟一秒再变为清晰度是1 */
		@include transition-default();

		/* 设置提示框的after属性，并添加一个尖角 */
		&:hover {
			visibility: visible;
			opacity: 1;
		}
	}

	.bottom {
		top: calc(100% + 15px);
		left: 50%;
		transform: translate(-50%, 0);

		&::after {
			content: "";
			position: absolute;
			bottom: 100%;
			left: 50%;
			border-width: 10px;
			transform: translate(-50%, 0);
			border-style: solid;
			border-color: transparent transparent $color-black-400 transparent;
		}
	}

	.top {
		bottom: calc(100% + 15px);
		left: 50%;
		transform: translate(-50%, 0);

		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			border-width: 10px;
			border-style: solid;
			border-color: $color-black-400 transparent transparent transparent;
		}
	}

	.left {
		top: 50%;
		right: calc(100% + 15px);
		transform: translate(0,-50%);
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: -20px;
			border-width: 10px;
			border-style: solid;
			transform: translate(0, -50%);
			border-color: transparent transparent transparent $color-black-400 ;
		}
	}

	.right {
		top: 50%;
		left: calc(100% + 15px);
		transform: translate(0,-50%);
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: -20px;
			border-width: 10px;
			border-style: solid;
			transform: translate(0, -50%);
			border-color: transparent $color-black-400 transparent transparent;
		}
	}
}