@mixin skeleton-active() {
  background: $color-black-100 $color-skeleton-linear;
  background-size: 400% 100%;
  animation: dp-animation-loading 1.2s ease infinite;
}

.dp-skeleton {
  &.is-active {
    .dp-skeleton-slot {
      .skeleton-section {
        @include skeleton-active();
      }
    }
  }
}
