.dp-tag {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #9cc3fb;
	background-color: #eef5fe;
	border: 1px solid #eff6fe;
	border-radius: 10px;
	// 非必要属性
	margin-right: 10px;
}

.dp-tag-middle {
	padding: 12px 24px;
	font-size: 14px;
}

.dp-tag-big {
	padding: 18px 30px;
	font-size: 18px;
}

.dp-tag-small {
	padding: 6px 12px;
	font-size: 12px;
}

.dp-tag-suceess {
	color: #7ec050;
	background-color: #f2f9ec;
	border-color: #f2f9ec;
}

.dp-tag-info {
	color: #909399;
	background-color: #f4f4f5;
	border-color: #f4f4f5;
}

.dp-tag-warning {
	color: #e6a23c;
	background-color: #fcf6ed;
	border-color: #fcf6ed;
}

.dp-tag-danger {
	color: #f56c6c;
	background-color: #fcf0f0;
	border-color: #fcf0f0;
}

.dp-tag-round {
	border-radius: 30px;
}