.dp-field {
  width: 100%;
  outline: none;
  border: none;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  user-select: auto;
  resize: none;
  height: 100%;
  font-size: 18px;
  min-height: 30px;
  background-color: transparent;
  font-family: Plus Jakarta Sans;
  caret-color: $color-yellow-default;
  color: $color-white-default;
  overflow: hidden;
}
