.dp-message {
  z-index: 2000;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  min-width: 430px;
}

@media screen and (max-width: 768px) {
  .dp-message {
    min-width: 312px;
  }
}

.message-slideY-enter-active {
  @include transition-animation-in(slideY);
}
.message-slideY-leave-active {
  @include transition-animation-out(slideY);
}
