i {
	font-style: normal;
}

.dp-month-picker {
	position: relative;


	.dp-picker-inner {
		position: absolute;
		z-index: 500;

		.dp-picker-box {
			width: 434px;
			position: relative;
			top: 6px;
			left: 0px;
			right: 0;
			border-radius: 5px;
			z-index: 500;
			background: $color-white-default;
			overflow-x: hidden;
			border: 1px solid $color-black-200;
			padding: 0 8px;

			.dp-pick-close {
				height: 52px;

			}

			.dp-picker-select {
				display: flex;
				padding: 12px 0;
				height: 56px;
				line-height: 34px;
				color: $color-black-500;
				justify-content: space-around;
				align-items: center;

				.picker-select-left,
				.picker-select-right {
					display: flex;
					align-items: center;
					cursor: pointer;
				}


				.dp-button {
					button {
						border: none;

						.dp-icon {
							i {
								font-size: 20px;
							}
						}
					}
				}

				.picker-select-middle {
					width: 60%;
					display: flex;
					justify-content: center;
					font-family: Plus Jakarta Sans;

					.picker-select-year {
						color: $color-black-500;
						font-weight: 800;
						font-size: 14px;
						margin: 0 2px;
						cursor: pointer;
						font-family: 'Plus Jakarta Sans';
						transition: all 0.2s ease-in-out;

						// &:hover {
						// 	color: #449efb;
						// 	transition: all 0.2s ease-in-out;
						// }
					}
				}
			}

			.dp-picker-content {
				width: 100%;
				height: auto;
				border-top: 1px solid $color-black-100;

				.month {
					display: inline-block;
					color: $color-black-500;
					font-family: Plus Jakarta Sans;
					font-style: normal;
					font-weight: 400;
					border: none;

					.block {
						width: 104px;
						height: 36px;
						display: flex;
						font-size: 14px;
						color: $color-black-500;
						justify-content: center;
						align-items: center;
						margin: 16px 0;
						box-sizing: content-box;
						border-radius: 8px;
					}

					.block-active {
						// background-color: #2e4399!important;
						// color: #fff!important;
						background-color: $color-yellow-500  !important;
						font-weight: 700;
					}
				}
			}
		}
	}
}

.option-slide-enter-active {
	transition: all 0.2s ease-out;
}

.option-slide-leave-active {
	transition: all 0.2s ease;
}

.option-slide-enter-from,
.option-slide-leave-to {
	transform: translateY(-20px);
	opacity: 0;
}

:deep(.dp-input) {
	width: 150px !important;
}

.openPicker {
	border: 1px solid #ffdd00 !important;
}

:deep(.dp-input-inner) {
	text-align: center;
	font-size: 14px;
	color: $color-black-500;
}


.icon {
	margin-right: 12px;
	margin-left: 0;
}

:deep(.dp-input) {
	.dp-input-inner {
		width: 100%;
	}
}