@font-face {
  font-family: "desty-iconfont"; /* Project id 2927779 */
  src: url('@themes/common/iconfont/iconfont.woff2?t=1664248477927') format('woff2'),
       url('@themes/common/iconfont/iconfont.woff?t=1664248477927') format('woff'),
       url('@themes/common/iconfont/iconfont.ttf?t=1664248477927') format('truetype');
}

.desty-iconfont {
  font-family: "desty-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.desty-Delete2:before {
  content: "\e78d";
}

.desty-Duplicate:before {
  content: "\e78e";
}

.desty-a-TypeBookmarks:before {
  content: "\e78f";
}

.desty-a-TypeHighpercentation:before {
  content: "\e790";
}

.desty-a-TypeFire:before {
  content: "\e791";
}

.desty-link:before {
  content: "\e792";
}

.desty-Affiliate:before {
  content: "\e78c";
}

.desty-SNK-Share:before {
  content: "\e789";
}

.desty-SNK-Like:before {
  content: "\e78a";
}

.desty-SNK-Search:before {
  content: "\e78b";
}

.desty-a-Widgetslisticons-Voucher:before {
  content: "\e788";
}

.desty-LinkedIn-copy:before {
  content: "\e7c2";
}

.desty-LinkedIn:before {
  content: "\e787";
}

.desty-Burger:before {
  content: "\e784";
}

.desty-Search2:before {
  content: "\e785";
}

.desty-Share:before {
  content: "\e786";
}

.desty-Camera:before {
  content: "\e769";
}

.desty-Album:before {
  content: "\e76b";
}

.desty-dp-more:before {
  content: "\e60a";
}

.desty-a-Pagesettings-SEO1:before {
  content: "\e782";
}

.desty-a-Pagesettings-Thirdparty1:before {
  content: "\e783";
}

.desty-Platform-Shoppee:before {
  content: "\e780";
}

.desty-Platform-Lazada:before {
  content: "\e781";
}

.desty-Left:before {
  content: "\e762";
}

.desty-a-Pagesettings-DS:before {
  content: "\e763";
}

.desty-a-Noicon:before {
  content: "\e764";
}

.desty-a-Pagesettings-Search:before {
  content: "\e765";
}

.desty-a-Pagesettings-Status:before {
  content: "\e766";
}

.desty-Middle:before {
  content: "\e767";
}

.desty-a-Pagesettings-Share:before {
  content: "\e768";
}

.desty-Undo:before {
  content: "\e76a";
}

.desty-Right:before {
  content: "\e76c";
}

.desty-Up:before {
  content: "\e76d";
}

.desty-a-Switchto:before {
  content: "\e76e";
}

.desty-Redo:before {
  content: "\e76f";
}

.desty-a-Pagesettings:before {
  content: "\e770";
}

.desty-Search:before {
  content: "\e771";
}

.desty-Underline:before {
  content: "\e772";
}

.desty-Platform-other:before {
  content: "\e773";
}

.desty-upload02:before {
  content: "\e774";
}

.desty-a-Widgetslisticons-Payment:before {
  content: "\e775";
}

.desty-UpToTop:before {
  content: "\e776";
}

.desty-a-Widgetslisticons-Link:before {
  content: "\e777";
}

.desty-upload03:before {
  content: "\e778";
}

.desty-a-Widgetslisticons-Googledrive:before {
  content: "\e779";
}

.desty-a-Widgetslisticons-Socialicons:before {
  content: "\e77a";
}

.desty-a-Widgetslisticons-Media:before {
  content: "\e77b";
}

.desty-upload01:before {
  content: "\e77c";
}

.desty-a-Widgetslisticons-Product:before {
  content: "\e77d";
}

.desty-a-Widgetslisticons-Text:before {
  content: "\e77e";
}

.desty-a-Widgetslist1:before {
  content: "\e77f";
}

.desty-_-Big:before {
  content: "\e754";
}

.desty-a-1:before {
  content: "\e755";
}

.desty-Back:before {
  content: "\e756";
}

.desty-Bold:before {
  content: "\e757";
}

.desty-BothSides:before {
  content: "\e758";
}

.desty-Bullet-num:before {
  content: "\e759";
}

.desty-Bullet-point:before {
  content: "\e75a";
}

.desty-a-Changetheme:before {
  content: "\e75b";
}

.desty-a-Chevronright1:before {
  content: "\e75c";
}

.desty-a-Chevronup1:before {
  content: "\e75d";
}

.desty-Close1:before {
  content: "\e75e";
}

.desty-Delete:before {
  content: "\e75f";
}

.desty-Homepage:before {
  content: "\e760";
}

.desty-Italic:before {
  content: "\e761";
}

.desty-a-ItemLinkSelectedTrue:before {
  content: "\e74d";
}

.desty-a-ItemImagesSelectedTrue:before {
  content: "\e74e";
}

.desty-a-ItemOthersSelectedTrue:before {
  content: "\e74f";
}

.desty-a-ItemMediaSelectedTrue:before {
  content: "\e750";
}

.desty-a-ItemPaymentSelectedTrue:before {
  content: "\e751";
}

.desty-a-ItemTextSelectedTrue:before {
  content: "\e752";
}

.desty-a-ItemProductsSelectedTrue:before {
  content: "\e753";
}

.desty-a-ItemImagesSelectedFalse:before {
  content: "\e746";
}

.desty-a-ItemLinkSelectedFalse:before {
  content: "\e747";
}

.desty-a-ItemMediaSelectedFalse:before {
  content: "\e748";
}

.desty-a-ItemOthersSelectedFalse:before {
  content: "\e749";
}

.desty-a-ItemPaymentSelectedFalse:before {
  content: "\e74a";
}

.desty-a-ItemTextSelectedFalse:before {
  content: "\e74b";
}

.desty-a-ItemProductsSelectedFalse:before {
  content: "\e74c";
}

.desty-ul:before {
  content: "\e60b";
}

.desty-ol:before {
  content: "\e60c";
}

.desty-xiahuaxian:before {
  content: "\e701";
}

.desty-xieti:before {
  content: "\e669";
}

.desty-bold:before {
  content: "\e7c1";
}

.desty-refresh:before {
  content: "\e609";
}

.desty-delete:before {
  content: "\e72e";
}

.desty-a-Vector1Stroke:before {
  content: "\e604";
}

.desty-Union:before {
  content: "\e603";
}

.desty-top_fill:before {
  content: "\e613";
}

.desty-loading:before {
  content: "\e644";
}

.desty-arrow-bar-to-up:before {
  content: "\e677";
}

.desty-edit:before {
  content: "\e725";
}

.desty-upload2:before {
  content: "\e724";
}

.desty-a-:before {
  content: "\e720";
}

.desty-a-Nocolor:before {
  content: "\e721";
}

.desty-a-Addfacet:before {
  content: "\e722";
}

.desty-a-personalcenter:before {
  content: "\e723";
}

.desty-Add:before {
  content: "\e71f";
}

.desty-a-Addwidgets:before {
  content: "\e70f";
}

.desty-Align-right:before {
  content: "\e710";
}

.desty-a-Chevronright:before {
  content: "\e711";
}

.desty-Check:before {
  content: "\e712";
}

.desty-a-Chevrondown:before {
  content: "\e713";
}

.desty-Align-middle:before {
  content: "\e714";
}

.desty-redo:before {
  content: "\e715";
}

.desty-homepage:before {
  content: "\e716";
}

.desty-undo:before {
  content: "\e717";
}

.desty-a-Widgetslist:before {
  content: "\e718";
}

.desty-Close:before {
  content: "\e719";
}

.desty-Align-left:before {
  content: "\e71a";
}

.desty-Align-twosides:before {
  content: "\e71b";
}

.desty-a-Chevronup:before {
  content: "\e71c";
}

.desty-upload:before {
  content: "\e71d";
}

.desty-Themes:before {
  content: "\e71e";
}

