@font-face {
  font-family: "dpui-iconfont"; /* Project id 3658413 */
  src: url('@themes/common/iconfont/iconfont.woff2?t=1664168174555') format('woff2'),
       url('@themes/common/iconfont/iconfont.woff?t=1664168174555') format('woff'),
       url('@themes/common/iconfont/iconfont.ttf?t=1664168174555') format('truetype');
}

.dpui-iconfont {
  font-family: "dpui-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dpui-color-google:before {
  content: "\e7d6";
}

.dpui-color-lazada:before {
  content: "\e7d7";
}

.dpui-color-shopee:before {
  content: "\e7d8";
}

.dpui-color-whatsapp:before {
  content: "\e7d9";
}

.dpui-line-more:before {
  content: "\e7d5";
}

.dpui-color-circle-down:before {
  content: "\e7d3";
}

.dpui-color-circle-up:before {
  content: "\e7d4";
}

.dpui-color-images-selected:before {
  content: "\e7cb";
}

.dpui-color-theme-unselected:before {
  content: "\e7cc";
}

.dpui-color-media-selected:before {
  content: "\e7cd";
}

.dpui-color-link-selected:before {
  content: "\e7ce";
}

.dpui-color-more-selected:before {
  content: "\e7cf";
}

.dpui-color-product-selected:before {
  content: "\e7d0";
}

.dpui-color-payment-selected:before {
  content: "\e7d1";
}

.dpui-color-text-selected:before {
  content: "\e7d2";
}

.dpui-line-upload-2:before {
  content: "\e7c8";
}

.dpui-line-upload-3:before {
  content: "\e7c9";
}

.dpui-line-widget-list:before {
  content: "\e7ca";
}

.dpui-fill-camera:before {
  content: "\e7a5";
}

.dpui-fill-image:before {
  content: "\e7a6";
}

.dpui-fill-pagesettings-3rdparty:before {
  content: "\e7a7";
}

.dpui-fill-pagesettings-ds:before {
  content: "\e7a8";
}

.dpui-fill-pagesettings-search:before {
  content: "\e7a9";
}

.dpui-fill-pagesettings-share:before {
  content: "\e7aa";
}

.dpui-line-align-bothsides:before {
  content: "\e7ab";
}

.dpui-fill-pagesettings-seo:before {
  content: "\e7ac";
}

.dpui-fill-pagesettings-status:before {
  content: "\e7ad";
}

.dpui-line-align-left:before {
  content: "\e7ae";
}

.dpui-line-align-middle:before {
  content: "\e7af";
}

.dpui-line-align-right:before {
  content: "\e7b0";
}

.dpui-line-bullet-num:before {
  content: "\e7b1";
}

.dpui-line-font-italic:before {
  content: "\e7b2";
}

.dpui-line-font-underline:before {
  content: "\e7b3";
}

.dpui-line-font-bold:before {
  content: "\e7b4";
}

.dpui-line-bullet-point:before {
  content: "\e7b5";
}

.dpui-line-images-unselected:before {
  content: "\e7b6";
}

.dpui-line-googledrive-unselected:before {
  content: "\e7b7";
}

.dpui-line-list-item-up:before {
  content: "\e7b8";
}

.dpui-line-list-item-uptotop:before {
  content: "\e7b9";
}

.dpui-line-link-unselected:before {
  content: "\e7ba";
}

.dpui-line-media-unselected:before {
  content: "\e7bb";
}

.dpui-line-more-unselected:before {
  content: "\e7bc";
}

.dpui-line-null:before {
  content: "\e7bd";
}

.dpui-line-payment-unselected:before {
  content: "\e7be";
}

.dpui-line-redo:before {
  content: "\e7bf";
}

.dpui-line-product-unselected:before {
  content: "\e7c0";
}

.dpui-line-platform-other:before {
  content: "\e7c1";
}

.dpui-line-text-unselected:before {
  content: "\e7c2";
}

.dpui-line-socialmedia-unselected:before {
  content: "\e7c3";
}

.dpui-line-themes:before {
  content: "\e7c4";
}

.dpui-line-to:before {
  content: "\e7c5";
}

.dpui-line-undo:before {
  content: "\e7c6";
}

.dpui-line-upload-1:before {
  content: "\e7c7";
}

.dpui-line-_1:before {
  content: "\e7a1";
}

.dpui-fill-more1:before {
  content: "\e7a2";
}

.dpui-line-calendar1:before {
  content: "\e7a3";
}

.dpui-fill-affiliate:before {
  content: "\e7a4";
}

.dpui-fill-settings:before {
  content: "\e7a0";
}

.dpui-fill-_:before {
  content: "\e76c";
}

.dpui-a-fill-:before {
  content: "\e76d";
}

.dpui-fill-chevron-left:before {
  content: "\e76e";
}

.dpui-fill-chevron-down:before {
  content: "\e76f";
}

.dpui-fill-check:before {
  content: "\e770";
}

.dpui-fill-analytics:before {
  content: "\e771";
}

.dpui-fill-chevron-up:before {
  content: "\e773";
}

.dpui-fill-chevron-right:before {
  content: "\e774";
}

.dpui-fill-home:before {
  content: "\e775";
}

.dpui-fill-info:before {
  content: "\e776";
}

.dpui-fill-x:before {
  content: "\e778";
}

.dpui-fill-wallet:before {
  content: "\e779";
}

.dpui-line-add:before {
  content: "\e77a";
}

.dpui-a-line-:before {
  content: "\e77b";
}

.dpui-line-affiliate:before {
  content: "\e77c";
}

.dpui-line-analytics:before {
  content: "\e77e";
}

.dpui-line-back:before {
  content: "\e77f";
}

.dpui-line-bookmark:before {
  content: "\e780";
}

.dpui-line-check:before {
  content: "\e782";
}

.dpui-line-broadcast:before {
  content: "\e783";
}

.dpui-line-chevron-right:before {
  content: "\e784";
}

.dpui-line-chevron-up:before {
  content: "\e785";
}

.dpui-line-copy:before {
  content: "\e786";
}

.dpui-line-chevron-down:before {
  content: "\e787";
}

.dpui-line-chevron-left:before {
  content: "\e788";
}

.dpui-line-delete:before {
  content: "\e789";
}

.dpui-line-drag:before {
  content: "\e78a";
}

.dpui-line-edit:before {
  content: "\e78b";
}

.dpui-line-discount:before {
  content: "\e78c";
}

.dpui-line-exit:before {
  content: "\e78d";
}

.dpui-line-fire:before {
  content: "\e78e";
}

.dpui-line-global-2:before {
  content: "\e78f";
}

.dpui-line-home:before {
  content: "\e790";
}

.dpui-line-global:before {
  content: "\e791";
}

.dpui-line-info:before {
  content: "\e792";
}

.dpui-line-ranking:before {
  content: "\e793";
}

.dpui-line-refresh:before {
  content: "\e794";
}

.dpui-line-loading:before {
  content: "\e795";
}

.dpui-line-instagram:before {
  content: "\e796";
}

.dpui-line-send:before {
  content: "\e797";
}

.dpui-line-search:before {
  content: "\e798";
}

.dpui-line-share:before {
  content: "\e799";
}

.dpui-line-settings:before {
  content: "\e79a";
}

.dpui-line-visible:before {
  content: "\e79b";
}

.dpui-line-wallet:before {
  content: "\e79c";
}

.dpui-line-star:before {
  content: "\e79d";
}

.dpui-line-windmill:before {
  content: "\e79e";
}

.dpui-line-x:before {
  content: "\e79f";
}

