.dp-alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  min-height: 42px;
  border-radius: $radius-default;
  @include small-body();
  &.is-warning {
    border: 1px solid $color-yellow-500;
    background: $color-yellow-100;
  }
  &.is-error {
    border: 1px solid $color-red-500;
    background: $color-red-100;
  }
  &.is-success {
    border: 1px solid $color-green-500;
    background: $color-green-100;
  }
  &-icon {
    height: 16px;
  }
  &-content {
    display: flex;
    justify-content: flex-start;
    .dp-alert-icon {
      margin-right: 8px;
      &.is-warning {
        color: $color-yellow-600 !important;
      }
      &.is-error {
        color: $color-red-500 !important;
      }
      &.is-success {
        color: $color-green-500 !important;
      }
    }
  }
}
